@import '../theme/colors';

// Large tablet to laptop
@media (min-width: 960px) {
  .header {
    background-color: #fff;
    border-bottom: 1px solid $grey-light;
    padding: 20px 60px;
    transition: top 0.3s;
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .list-menu {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $text-color;
    
    a {
      font-size: 14px;
      margin: 10px 10px;
      text-decoration: none;
      color: $text-color;
      
      &.active {
        color: $base-primary-main;
      }
    }
  }

  .list-menu-sm {
    display: none;
  }
}

// Small to medium tablet
@media (min-width: 600px) and (max-width: 959.9px) {
  .header {
    background-color: #fff;
    border-bottom: 1px solid $grey-light;
    padding: 20px 40px;
    transition: top 0.3s;
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .list-menu {
    font-size: 14px;
    display: none;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    color: $text-color;
    
    a {
      font-size: 14px;
      margin: 10px 10px;
      text-decoration: none;
      color: $text-color;
      
      &.active {
        color: $base-primary-main;
      }
    }
  }
}

// Small to large phone
@media (max-width: 599.9px) {
  .header {
    background-color: #fff;
    border-bottom: 1px solid $grey-light;
    padding: 20px;
    transition: top 0.3s;
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .list-menu {
    font-size: 14px;
    display: none;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    color: $text-color;
    
    a {
      font-size: 14px;
      margin: 10px 10px;
      text-decoration: none;
      color: $text-color;
      
      &.active {
        color: $base-primary-main;
      }
    }
  
  }
}