
@import '../theme/colors';

@keyframes arrow-right-animate {
  0% {right: 0px;}
  50% {right: -5px;}
  100% {right: 0px;}
}

// Large tablet to laptop
@media (min-width: 960px) {
  .banner {
    position: relative;
    height: 600px;
    // background: $base-primary-soft;

    .banner__img {
      position: relative;
      height: 400px;
      width: 100%;
      object-fit: cover;
    }

    .banner__img-sm {
      display: none;
    }

    .banner__content {
      position: absolute;
      z-index: 1;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 40px 60px;

      .banner__text {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        letter-spacing: 0.01em;
        color: #229BD8;
        max-width: 42rem;
        width: 36%;
      }
  
      .button__daftar-vaksin {
        border-radius: 5px;
        align-items: center;
        display: inline-flex;
        font-size: 14px;
        line-height: 10px;
        letter-spacing: 0.3px;
        // padding: 1rem 2rem;
        height: 50px;
        padding: 0px 20px;
        text-transform: uppercase;
        background: $base-primary-main !important;
        max-width: 35rem;
        margin-top: 20px;
        color: white;
        font-weight: bold;

        &:hover {
          opacity: .9;
        }

        .arrow-btn {
          position: relative;
          right: 0px;
          animation-name: arrow-right-animate;
          animation-duration: 0.7s;
          animation-timing-function: ease;
          animation-delay: 0s;
          animation-iteration-count: infinite;
          animation-direction: normal;
          animation-fill-mode: none;
          animation-play-state: running;
        }
      }

      .banner__status-kesehatan {
        margin: 60px 0px 40px 0px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 2px 4px #ccc;
        // padding: 20px;

        .header {
          padding: 20px;
          .title {
            font-weight: bold;
            font-size: 20px;
          }
          .sub-title {
            font-weight: 500;
            font-size: 16px;
            color: $text-color;
            margin-bottom: 1rem;
          }
        }

        .main-form {
          padding-left: 20px;
          padding-right: 20px;
        }

        .footer {
          background-color: $base-orange-light;
          text-align: center;
          padding: 10px;
          margin-top: 20px;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
    }
  }

  .search-faskes {
    margin-top: 30px;
    padding: 20px 60px;
    background-color: $grey-ultra-soft;
    .title {
      font-size: 24px;
      font-weight: bold;
      color: $base-primary-main;
      margin-bottom: 20px;
    }
    .btn-cari {
      background: $base-primary-main;
      color: white;
      padding: 6px;
      width: 60px;
      border-radius: 5px;
      margin-left: 10px;
      
      &:hover{
        opacity: .9;
      }
    }
  }

  .about-vaksin {
    margin-top: 20px;
    padding: 20px 60px;
    display: grid;
    grid-template-columns: 30% 60%;
    gap: 10%;
    
    .about__text-tentang-small {
      color: $base-primary-dark;
      font-weight: bold;
      font-size: 20px;
    }
    .about__text-tentang-big {
      color: $base-primary-main;
      font-weight: bold;
      font-size: 24px;
    }

    .about__value {
      text-align: justify;
      color: $grey-main;
    }
  }

  .about-pl {
    background-color: $grey-ultra-soft;
    margin-top: 20px;
    padding: 20px 60px;
    display: grid;
    grid-template-columns: 30% 60%;
    gap: 10%;
    
    .about__text-tentang-small {
      color: $base-primary-dark;
      font-weight: bold;
      font-size: 20px;
    }
    .about__text-tentang-big {
      color: $base-primary-main;
      font-weight: bold;
      font-size: 24px;
    }

    .about__value {
      text-align: justify;
      color: $grey-main;
    }
  }

  .how-work {
    margin-top: 20px;
    padding: 20px 60px;
    // gap: 10%;
    
    .how-work__text-small {
      color: $base-primary-dark;
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 20px;
    }

    .how-work__grid {
      display: grid;
      grid-template-columns: 40% 60%;
      .how-work__video {
        width: 90%;
        .video {
          width: 100%;
          height: 250px;
          padding: 10px 0px;
          background-color: #000;
          border-radius: 5px;
          border: 0px;
        }
      }

      .how-work__value {
        text-align: left;
        color: $grey-main;
        text-align: justify;
        .title {
          font-weight: bold;
          font-size: 24px;
          color: $base-primary-main;
          margin-bottom: 20px;
        }
      }
    }
  }

  .we-care {
    background-color: $grey-ultra-soft;
    margin-top: 20px;
    padding: 20px 60px;
    
    .title {
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      color: $base-primary-main;
      margin-bottom: 30px;
    }

    .group-card {
      justify-content: space-between;
      display: grid;
      grid-template-columns: 28% 28% 28%;
      gap: 20px;

      .card {
        img {
          width: 100%;
        }

        .caption{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .caption-title {
            font-size: 20px;
            color: $base-primary-main;
            margin-bottom: 10px;
            text-align: center;
          }

          .caption-subtitle {
            color: $grey-main;
            margin-bottom: 10px;
            text-align: justify;
          }
        }
      }
    }
  }

  .download-apps {
    margin-top: 20px;
    padding: 20px 60px;
    display: grid;
    grid-template-columns: 40% 60%;
    // grid-gap: 10%;

    .title {
      font-size: 24px;
      font-weight: bold;
      color: $base-primary-main;
    }
    .icon {
      display: flex;
      justify-content: space-around;
      align-items: center;

      img {
        width: 100%;
        height: 40px;
        border-radius: 5px;
      }
    }
  }

  .footer {
    margin-top: 20px;
    padding: 20px 60px;
    background-color: $base-primary-soft;
    
    .partner {
      display: grid;
      grid-template-columns: 40% 60%;
      margin-bottom: 20px;

      .logo-pl {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        
        img {
          height: 40px;
        }
      }

      .logo-partner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 20px;

        .text {
          color: $grey-main;
        }
        .logo{
          display: flex;
          justify-content: space-between;
          align-items: center;
          // gap: 20px;
          width: 100%;
          
          img {
            // width: 100%;
            height: 40px;
            object-fit: contain;
          }
        }
      }
    }

    .copyright {
      margin-top: 20px;
      display: grid;
      grid-template-columns: 40% 60%;
      justify-content: space-between;
      color: $grey-main;
      font-size: small;

      .copyright__address {
        text-align: right;
      }
    }

    .sosmed {
      text-align: right;
      font-size: small;
      margin-top: 20px;

      .sosmed__group-md {
        display: flex;
        justify-content: end;
        align-items: center;
      }

      .sosmed__group-sm {
        display: none;
      }

      .text {
        margin-right: 10px;
        margin-bottom: 4px;
        color: $base-primary-main;
      }
    }

    .copyright-small {
      display: none;
    }
  }
}

// Small to medium tablet
@media (min-width: 600px) and (max-width: 959.9px) {
  .banner {
    position: relative;
    height: 62em;
    // background: $base-primary-soft;

    .banner__img-sm {
      position: relative;
      height: 600px;
      width: 100%;
      object-fit: cover;
    }

    .banner__img {
      display: none;
    }

    .banner__content {
      position: absolute;
      z-index: 1;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 40px 40px;

      .banner__text {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        letter-spacing: 0.01em;
        color: #229BD8;
        max-width: 42rem;
        width: 100%;
      }
  
      .button__daftar-vaksin {
        border-radius: 5px;
        align-items: center;
        display: inline-flex;
        font-size: 14px;
        line-height: 10px;
        letter-spacing: 0.3px;
        // padding: 1rem 2rem;
        height: 50px;
        padding: 0px 20px;
        text-transform: uppercase;
        background: $base-primary-main !important;
        max-width: 35rem;
        margin-top: 20px;
        color: white;
        font-weight: bold;

        &:hover {
          opacity: .9;
        }

        .arrow-btn {
          position: relative;
          right: 0px;
          animation-name: arrow-right-animate;
          animation-duration: 0.7s;
          animation-timing-function: ease;
          animation-delay: 0s;
          animation-iteration-count: infinite;
          animation-direction: normal;
          animation-fill-mode: none;
          animation-play-state: running;
        }
      }

      .banner__status-kesehatan {
        margin: 300px 0px 40px 0px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 2px 4px #ccc;
        // padding: 20px;

        .header {
          padding: 20px;
          .title {
            font-weight: bold;
            font-size: 20px;
          }
          .sub-title {
            font-weight: 500;
            font-size: 16px;
            color: $text-color;
            margin-bottom: 1rem;
          }
        }

        .main-form {
          padding-left: 20px;
          padding-right: 20px;
        }

        .footer {
          background-color: $base-orange-light;
          text-align: center;
          padding: 10px;
          margin-top: 20px;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
    }
  }

  .search-faskes {
    margin-top: 20px;
    padding: 20px 60px;
    background-color: $grey-ultra-soft;
    .title {
      font-size: 24px;
      font-weight: bold;
      color: $base-primary-main;
      margin-bottom: 20px;
    }
    .btn-cari {
      background: $base-primary-main;
      color: white;
      padding: 6px;
      width: 60px;
      border-radius: 5px;
      margin-left: 10px;
      
      &:hover{
        opacity: .9;
      }
    }
  }

  .about-vaksin {
    margin-top: 20px;
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // grid-template-columns: 30% 60%;
    gap: 10%;
    
    .about__text-tentang-small {
      color: $base-primary-dark;
      font-weight: bold;
      font-size: 20px;
    }
    .about__text-tentang-big {
      color: $base-primary-main;
      font-weight: bold;
      font-size: 24px;
    }

    .about__value {
      text-align: justify;
      color: $grey-main;
    }
  }

  .about-pl {
    background-color: $grey-ultra-soft;
    margin-top: 20px;
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // grid-template-columns: 30% 60%;
    gap: 10%;
    
    .about__text-tentang-small {
      color: $base-primary-dark;
      font-weight: bold;
      font-size: 20px;
    }
    .about__text-tentang-big {
      color: $base-primary-main;
      font-weight: bold;
      font-size: 24px;
    }

    .about__value {
      text-align: justify;
      color: $grey-main;
    }
  }

  .how-work {
    margin-top: 20px;
    padding: 20px 60px;
    // gap: 10%;
    
    .how-work__text-small {
      color: $base-primary-dark;
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 20px;
      text-align: center;
    }

    .how-work__grid {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // grid-template-columns: 40% 60%;
      .how-work__video {
        width: 450px;
        .video {
          width: 100%;
          height: 250px;
          padding: 10px 0px;
          background-color: #000;
          border-radius: 5px;
          border: 0px;
        }
      }

      .how-work__value {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $grey-main;
        text-align: justify;
        .title {
          font-weight: bold;
          font-size: 24px;
          color: $base-primary-main;
          margin-bottom: 20px;
        }
      }
    }
  }

  .we-care {
    background-color: $grey-ultra-soft;
    margin-top: 20px;
    padding: 20px 60px;
    
    .title {
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      color: $base-primary-main;
      margin-bottom: 30px;
    }

    .group-card {
      justify-content: space-between;
      display: grid;
      grid-template-columns: 45% 45%;
      gap: 20px;

      .card {
        img {
          width: 100%;
        }

        .caption{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .caption-title {
            font-size: 20px;
            color: $base-primary-main;
            margin-bottom: 10px;
            text-align: center;
          }

          .caption-subtitle {
            color: $grey-main;
            margin-bottom: 10px;
            text-align: justify;
          }
        }
      }
    }
  }

  .download-apps {
    margin-top: 20px;
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    // grid-template-columns: 40% 60%;
    // grid-gap: 10%;
    
    .title {
      font-size: 24px;
      font-weight: bold;
      color: $base-primary-main;
      margin-bottom: 20px;
      text-align: center;
    }
    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      .icon__store {
        height: 35px;
        // width: 100%;
        
        img {
          width: 100%;
          height: 100%;
          border-radius: 5px;
        }
      }

    }
  }

  .footer {
    margin-top: 20px;
    padding: 20px 60px;
    background-color: $base-primary-soft;
    display: flex;
    flex-direction: column;
    
    .partner {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      .logo-pl {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 30px;
        
        img {
          height: 40px;
        }
      }

      .logo-partner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 14px;

        .text {
          color: $grey-main;
        }
        .logo{
          display: flex;
          justify-content: space-between;
          align-items: center;
          // gap: 20px;
          width: 100%;
          
          img {
            // width: 100%;
            height: 40px;
            object-fit: contain;
          }
        }
      }
    }

    .copyright {
      margin-top: 20px;
      color: $grey-main;
      font-size: small;

      .copyright__text {
        display: none;
      }

      .copyright__address {
        text-align: left;
      }
    }

    .sosmed {
      text-align: right;
      font-size: small;
      margin-top: 20px;

      .text {
        margin-left: 10px;
        margin-bottom: 5px;
        color: $base-primary-main;
      }

      .sosmed__group-sm {
        display: flex;
        justify-content: start;
        align-items: center;
      }

      .sosmed__group-md {
        display: none;
      }
    }

    .copyright-small {
      margin-top: 10px;
      color: $grey-main;
      font-size: small;
    }
  }
}

// Small to large phone
@media (min-width: 321px) and (max-width: 599.9px) {
  .banner {
    position: relative;
    height: 62em;
    // background: $base-primary-soft;

    .banner__img-sm {
      position: relative;
      height: 600px;
      width: 100%;
      object-fit: cover;
    }

    .banner__img {
      display: none;
    }

    .banner__content {
      position: absolute;
      z-index: 1;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 40px 20px;

      .banner__text {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 0.01em;
        color: #229BD8;
        max-width: 42rem;
        width: 100%;
      }
  
      .button__daftar-vaksin {
        border-radius: 5px;
        align-items: center;
        display: inline-flex;
        font-size: 14px;
        line-height: 10px;
        letter-spacing: 0.3px;
        // padding: 1rem 2rem;
        height: 50px;
        padding: 0px 20px;
        text-transform: uppercase;
        background: $base-primary-main !important;
        max-width: 35rem;
        margin-top: 20px;
        color: white;
        font-weight: bold;

        &:hover {
          opacity: .9;
        }

        .arrow-btn {
          position: relative;
          right: 0px;
          animation-name: arrow-right-animate;
          animation-duration: 0.7s;
          animation-timing-function: ease;
          animation-delay: 0s;
          animation-iteration-count: infinite;
          animation-direction: normal;
          animation-fill-mode: none;
          animation-play-state: running;
        }
      }

      .banner__status-kesehatan {
        margin: 300px 0px 40px 0px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 2px 4px #ccc;
        // padding: 20px;

        .header {
          padding: 20px;
          .title {
            font-weight: bold;
            font-size: 18px;
          }
          .sub-title {
            font-weight: 500;
            font-size: 16px;
            color: $text-color;
            margin-bottom: 1rem;
          }
        }

        .main-form {
          display: flex;
          flex-direction: column;
          padding-left: 20px;
          padding-right: 20px;
        }

        .footer {
          background-color: $base-orange-light;
          text-align: center;
          padding: 10px;
          margin-top: 20px;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
    }
  }

  .search-faskes {
    margin-top: 50px;
    padding: 20px 20px;
    background-color: $grey-ultra-soft;
    .title {
      font-size: 20px;
      font-weight: bold;
      color: $base-primary-main;
      margin-bottom: 20px;
    }
    .btn-cari {
      background: $base-primary-main;
      color: white;
      padding: 6px;
      width: 60px;
      border-radius: 5px;
      margin-left: 10px;
      
      &:hover{
        opacity: .9;
      }
    }
  }

  .about-vaksin {
    margin-top: 20px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // grid-template-columns: 30% 60%;
    gap: 10%;
    
    .about__text-tentang-small {
      color: $base-primary-dark;
      font-weight: bold;
      font-size: 18px;
    }
    .about__text-tentang-big {
      color: $base-primary-main;
      font-weight: bold;
      font-size: 20px;
    }

    .about__value {
      text-align: justify;
      color: $grey-main;
    }
  }

  .about-pl {
    background-color: $grey-ultra-soft;
    margin-top: 20px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // grid-template-columns: 30% 60%;
    gap: 10%;
    
    .about__text-tentang-small {
      color: $base-primary-dark;
      font-weight: bold;
      font-size: 18px;
    }
    .about__text-tentang-big {
      color: $base-primary-main;
      font-weight: bold;
      font-size: 20px;
    }

    .about__value {
      text-align: justify;
      color: $grey-main;
    }
  }

  .how-work {
    margin-top: 20px;
    padding: 20px 20px;
    // gap: 10%;
    
    .how-work__text-small {
      color: $base-primary-dark;
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 20px;
      text-align: center;
    }

    .how-work__grid {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // grid-template-columns: 40% 60%;
      .how-work__video {
        max-width: 450px;
        width: auto;
        .video {
          width: 100%;
          height: 250px;
          padding: 10px 0px;
          background-color: #000;
          border-radius: 5px;
          border: 0px;
        }
      }

      .how-work__value {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $grey-main;
        text-align: justify;

        .title {
          text-align: center;
          font-weight: bold;
          font-size: 20px;
          color: $base-primary-main;
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }
    }
  }

  .we-care {
    background-color: $grey-ultra-soft;
    margin-top: 20px;
    padding: 20px 20px;
    
    .title {
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      color: $base-primary-main;
      margin-bottom: 30px;
    }

    .group-card {
      display: flex;
      flex-direction: column;
      // grid-template-columns: 45% 45%;
      // gap: 20px;
      margin-bottom: 30px;

      .card {
        margin-bottom: 30px;

        &:nth-last-child(1){
          margin-bottom: 0px;
        }

        img {
          width: 100%;
          height: 160px;
          object-fit: cover;
          border-radius: 10px;
          object-position: center;
        }

        .caption{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .caption-title {
            font-size: 20px;
            color: $base-primary-main;
            margin-bottom: 10px;
            text-align: center;
          }

          .caption-subtitle {
            color: $grey-main;
            margin-bottom: 10px;
            text-align: justify;
          }
        }
      }
    }
  }

  .download-apps {
    margin-top: 20px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    // grid-template-columns: 40% 60%;
    // grid-gap: 10%;
    
    .title {
      font-size: 20px;
      font-weight: bold;
      color: $base-primary-main;
      margin-bottom: 20px;
      text-align: center;
    }
    .icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;

      .icon__store {
        height: 35px;
        width: 114px;
        // width: 100%;
        
        img {
          width: 100%;
          height: 100%;
          border-radius: 5px;
        }
      }

    }
  }

  .footer {
    margin-top: 20px;
    padding: 20px 20px;
    background-color: $base-primary-soft;
    display: flex;
    flex-direction: column;
    
    .partner {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      .logo-pl {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 30px;
        
        img {
          height: 40px;
        }
      }

      .logo-partner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 14px;

        .text {
          color: $grey-main;
        }
        .logo{
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: center;
          gap: 20px;
          width: 100%;
          
          img {
            // width: 100%;
            height: 40px;
            object-fit: contain;
          }
        }
      }
    }

    .copyright {
      margin-top: 20px;
      color: $grey-main;
      font-size: small;

      .copyright__text {
        display: none;
      }

      .copyright__address {
        text-align: left;
      }
    }

    .sosmed {
      text-align: right;
      font-size: small;
      margin-top: 20px;

      .text {
        margin-left: 10px;
        margin-bottom: 5px;
        color: $base-primary-main;
      }

      .sosmed__group-sm {
        display: flex;
        justify-content: start;
        align-items: center;
      }

      .sosmed__group-md {
        display: none;
      }
    }

    .copyright-small {
      margin-top: 10px;
      color: $grey-main;
      font-size: small;
    }
  }
}

@media (max-width: 320px) {
  .banner {
    position: relative;
    height: 62em;
    // background: $base-primary-soft;

    .banner__img-sm {
      position: relative;
      height: 600px;
      width: 100%;
      object-fit: cover;
    }

    .banner__img {
      display: none;
    }

    .banner__content {
      position: absolute;
      z-index: 1;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 40px 20px;

      .banner__text {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 0.01em;
        color: #229BD8;
        max-width: 42rem;
        width: 100%;
      }
  
      .button__daftar-vaksin {
        border-radius: 5px;
        align-items: center;
        display: inline-flex;
        font-size: 14px;
        line-height: 10px;
        letter-spacing: 0.3px;
        // padding: 1rem 2rem;
        height: 50px;
        padding: 0px 20px;
        text-transform: uppercase;
        background: $base-primary-main !important;
        max-width: 35rem;
        margin-top: 20px;
        color: white;
        font-weight: bold;

        &:hover {
          opacity: .9;
        }

        .arrow-btn {
          position: relative;
          right: 0px;
          animation-name: arrow-right-animate;
          animation-duration: 0.7s;
          animation-timing-function: ease;
          animation-delay: 0s;
          animation-iteration-count: infinite;
          animation-direction: normal;
          animation-fill-mode: none;
          animation-play-state: running;
        }
      }

      .banner__status-kesehatan {
        margin: 300px 0px 40px 0px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 2px 4px #ccc;
        // padding: 20px;

        .header {
          padding: 20px;
          .title {
            font-weight: bold;
            font-size: 18px;
          }
          .sub-title {
            font-weight: 500;
            font-size: 16px;
            color: $text-color;
            margin-bottom: 1rem;
          }
        }

        .main-form {
          display: flex;
          flex-direction: column;
          padding-left: 20px;
          padding-right: 20px;
        }

        .footer {
          background-color: $base-orange-light;
          text-align: center;
          padding: 10px;
          margin-top: 20px;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
    }
  }

  .search-faskes {
    margin-top: 80px;
    padding: 20px;
    background-color: $grey-ultra-soft;
    .title {
      font-size: 20px;
      font-weight: bold;
      color: $base-primary-main;
      margin-bottom: 20px;
    }
    .btn-cari {
      background: $base-primary-main;
      color: white;
      padding: 6px;
      width: 60px;
      border-radius: 5px;
      margin-left: 10px;
      
      &:hover{
        opacity: .9;
      }
    }
  }

  .about-vaksin {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // grid-template-columns: 30% 60%;
    gap: 10%;
    
    .about__text-tentang-small {
      color: $base-primary-dark;
      font-weight: bold;
      font-size: 18px;
    }
    .about__text-tentang-big {
      color: $base-primary-main;
      font-weight: bold;
      font-size: 20px;
    }

    .about__value {
      text-align: justify;
      color: $grey-main;
    }
  }

  .about-pl {
    background-color: $grey-ultra-soft;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // grid-template-columns: 30% 60%;
    gap: 10%;
    
    .about__text-tentang-small {
      color: $base-primary-dark;
      font-weight: bold;
      font-size: 18px;
    }
    .about__text-tentang-big {
      color: $base-primary-main;
      font-weight: bold;
      font-size: 20px;
    }

    .about__value {
      text-align: justify;
      color: $grey-main;
    }
  }

  .how-work {
    margin-top: 20px;
    padding: 20px;
    // gap: 10%;
    
    .how-work__text-small {
      color: $base-primary-dark;
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 20px;
      text-align: center;
    }

    .how-work__grid {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // grid-template-columns: 40% 60%;
      .how-work__video {
        width: auto;
        .video {
          width: 100%;
          height: 250px;
          padding: 10px 0px;
          background-color: #000;
          border-radius: 5px;
          border: 0px;
        }
      }

      .how-work__value {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $grey-main;
        text-align: justify;
        .title {
          margin-top: 20px;
          text-align: center;
          font-weight: bold;
          font-size: 20px;
          color: $base-primary-main;
          margin-bottom: 20px;
        }
      }
    }
  }

  .we-care {
    background-color: $grey-ultra-soft;
    margin-top: 20px;
    padding: 20px;
    
    .title {
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      color: $base-primary-main;
      margin-bottom: 30px;
    }

    .group-card {
      display: flex;
      flex-direction: column;
      // grid-template-columns: 45% 45%;
      // gap: 20px;
      margin-bottom: 30px;

      .card {
        img {
          width: 100%;
          height: 140px;
          object-fit: cover;
          border-radius: 10px;
          object-position: center;
        }

        .caption{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .caption-title {
            font-size: 18px;
            color: $base-primary-main;
            margin-bottom: 10px;
            text-align: center;
          }

          .caption-subtitle {
            color: $grey-main;
            margin-bottom: 10px;
            text-align: justify;
          }
        }
      }
    }
  }

  .download-apps {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    // grid-template-columns: 40% 60%;
    // grid-gap: 10%;
    
    .title {
      font-size: 20px;
      font-weight: bold;
      color: $base-primary-main;
      margin-bottom: 20px;
      text-align: center;
    }
    .icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;

      .icon__store {
        height: 35px;
        // width: 100%;
        
        img {
          width: 100%;
          height: 100%;
          border-radius: 5px;
        }
      }

    }
  }

  .footer {
    margin-top: 20px;
    padding: 20px;
    background-color: $base-primary-soft;
    display: flex;
    flex-direction: column;
    
    .partner {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      .logo-pl {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 30px;
        
        img {
          height: 40px;
        }
      }

      .logo-partner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 14px;

        .text {
          color: $grey-main;
        }
        .logo{
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: center;
          gap: 14px;
          width: 100%;
          
          img {
            // width: 100%;
            height: 40px;
            object-fit: contain;
          }
        }
      }
    }

    .copyright {
      margin-top: 20px;
      color: $grey-main;
      font-size: small;

      .copyright__text {
        display: none;
      }

      .copyright__address {
        text-align: left;
      }
    }

    .sosmed {
      text-align: right;
      font-size: small;
      margin-top: 20px;

      .text {
        margin-left: 10px;
        margin-bottom: 5px;
        color: $base-primary-main;
      }

      .sosmed__group-sm {
        display: flex;
        justify-content: start;
        align-items: center;
      }

      .sosmed__group-md {
        display: none;
      }
    }

    .copyright-small {
      margin-top: 10px;
      color: $grey-main;
      font-size: small;
    }
  }
}


/* -------------------------- custom search faskes -------------------------- */
@media (min-width: 495px) and (max-width: 534.9px) {
  .search-faskes {
    margin-top: 20px !important;
  }
}

@media (min-width: 535px) and (max-width: 599.9px) {
  .search-faskes {
    margin-top: 0px !important;
  }
}

@media (min-width: 600px) and (max-width: 625.9px) {
  .search-faskes {
    margin-top: 55px !important;
  }
}

@media (min-width: 626px) and (max-width: 959.9px) {
  .search-faskes {
    margin-top: 25px !important;
  }
}

@media (min-width: 1056px) and (max-width: 1062.9px) {
  .search-faskes {
    margin-top: 10px !important;
  }
}

@media (min-width: 1063px){
  .search-faskes {
    margin-top: 0px !important;
  }
}