@import '../theme/colors';

// Large tablet to laptop
@media (min-width: 960px) {
  .sub-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $base-primary-dark;
    // height: 48px;
    // font-size: 14px;
    line-height: 22px;
    letter-spacing: .3px;
    padding: 15px;
    text-align: center;

    .link-sertifikat {
      color: $base-orange-middle;
    }
  }
}

@media (min-width: 600px) and (max-width: 959.9px) {
  .sub-header {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    background-color: $base-primary-dark;
    // height: 48px;
    // font-size: 14px;
    line-height: 22px;
    letter-spacing: .3px;
    padding: 15px;
    text-align: center;

    .link-sertifikat {
      color: $base-orange-middle;
    }
  }
}

@media (min-width: 280px) and (max-width: 599.9px) {
  .sub-header {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    background-color: $base-primary-dark;
    // height: 48px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: .3px;
    padding: 15px;
    text-align: center;

    .link-sertifikat {
      color: $base-orange-middle;
    }
  }
}