* {
	animation: fade-in 0.5s ease-in-out;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	list-style: none;
	margin: 0;
	outline: none;
	padding: 0;
	scroll-behavior: smooth;
}

img {
	pointer-events: none;
}

/* btn and input svelte */
.s-button, .s-input__control {
	height: 50px !important;
	width: 100%;
}

.s-button.on {
	background-color: #229BD8 !important;
	color: #fff;
}

/* message color input */
.s-input__details > [slot="messages"] {
	color: red;
}

.indent-20 {
	text-indent: 20px;
}