// $primary-color-dark: #064C6F;
// $primary-color: #229BD8;
// $primary-color-soft: #EAF5FA;
// $secondary-color: #FFE3AC;
// $white-color: #FFFFFF;
// $text-color: #616161;
// $text-link-color: #FAB005;

$body-font-family: "Roboto", sans-serif;
$base-primary-dark: #064C6F;
$base-primary-main: #229BD8;
$base-primary-middle: #54BAED;
$base-primary-light: #BDE6FA;
$base-primary-soft: #EAF5FA;
$base-secondary-dark: #BF050F;
$base-secondary-main: #EF2F3A;
$base-secondary-middle: #F66E76;
$base-secondary-light: #F6B4B8;
$base-secondary-soft: #FCE3E4;
$base-orange-middle: #FAB005;
$base-orange-light: #FFE3AC;
$base-orange-soft: #FFE8CC;
$base-green: #05944F;
$font-size: calc(100vw * 16 / 1440);
$grey-dark: #424242;
$grey-dark-new: #37393A;
$grey-main: #616161;
$grey-middle: #BDBDBD;
$grey-light: #E0E0E0;
$grey-soft: #EEEEEE;
$grey-ultra-soft: #FAFAFA;
$header-height: 80px;
$input-height: 50px;
$header-height-mobile: 60px;
$text-color: #424242;
$ultra-light-text-color: #F2F2F2;