<script>
  import SubAppHeader from "../components/SubAppHeader.svelte";
	import AppHeader from "../components/organisms/AppHeader";
	// import { MaterialApp } from 'svelte-materialify';
  import { MaterialApp, Menu, NavigationDrawer, List, ListItem, Button, Icon, Overlay } from 'svelte-materialify';
  import { mdiViewDashboard, mdiAccountBox, mdiGavel } from '@mdi/js';

  let active = false;

  const closeDrawer = () => active = false;
  const openDrawer = () => active = true;

  const propsHeader = {
    'on:openDrawer': openDrawer, 
    'on:closeDrawer': closeDrawer, 
  }

  let theme = 'light';

  // function toggleTheme() {
  //   if (theme === 'light') theme = 'dark';
  //   else theme = 'light';
  // }
</script>

<MaterialApp {theme}>
  <NavigationDrawer index={20} fixed {active}>
    <List>
      <ListItem>
        <span slot="prepend">
          <Icon path={mdiViewDashboard} />
        </span>
        Dashboard
      </ListItem>
      <ListItem>
        <span slot="prepend">
          <Icon path={mdiAccountBox} />
        </span>
        Account
      </ListItem>
      <ListItem>
        <span slot="prepend">
          <Icon path={mdiGavel} />
        </span>
        Admin
      </ListItem>
    </List>
  </NavigationDrawer>
  <Overlay index={19} {active} on:click={closeDrawer} fixed />

	<header>
		<SubAppHeader />
		<AppHeader 
      {...propsHeader} 
      on:openDrawer={propsHeader['on:openDrawer']}
      on:closeDrawer={propsHeader['on:closeDrawer']}
    />
	</header>
  <main>
    <!-- slot ini isi dari file" yang ada di pages -->
    <slot/>
  </main>
  
  
</MaterialApp>


<style lang="scss">
  header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }

  main {
    margin-top: 120px;
    z-index: 0;
  }
</style>