<script>
  import { Ripple, Divider, TextField, Checkbox, Row, Col, Button } from 'svelte-materialify';
    
  let banner = "/images/banner.svg";
  let banner_sm = "/images/banner-sm.svg";
  let arrow = "/images/arrow.svg";

  const fullnameRules = [(v) => !!v || 'Wajib diisi'];
  const nikRules = [
    (v) => !!v || 'Wajib diisi',
    // (v) => v.length <= 25 || 'Max 25 characters',
    // (v) => {
    //   const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    //   return pattern.test(v) || 'Invalid e-mail.';
    // },
  ];

  let captcha = [];
</script>

<div class="root-main">
  <!-- banner -->
  <div class="banner">
    <img src={banner} class="banner__img" alt="">
    <img src={banner_sm} class="banner__img-sm" alt="">
   
    <div class="banner__content">
      <div class="banner__text">
        <div>Lindungi diri dan sekitar dengan berpartisipasi dalam program Vaksinasi COVID-19</div>
      </div>

      <button class="button__daftar-vaksin" use:Ripple={{centered: true}}>
        Pendaftaran Vaksin <img src={arrow} class="ml-2 arrow-btn" alt="">
      </button>
      
      <!-- status kesehatan -->
      <div class="banner__status-kesehatan">
        <div class="header">
          <div class="title">Status Kesehatan</div>
          <div class="sub-title">Pilih untuk cek status vaksin, tes covid-19 dan warna label Anda</div>
          <Divider />
        </div>

        <div class="main-form">
          <Row class="d-md-flex justify-md-center align-md-center" >
            <Col cols={12} md="4" sm="12">
              <TextField 
                outlined
                dense
                color="#229BD8" 
                rules={fullnameRules} 
                placeholder="Tulis nama lengkap Anda disini"
              >
                Nama Lengkap
              </TextField>
            </Col>
            <Col cols={12} md="4" sm="12">
              <TextField 
                outlined
                dense
                color="#229BD8" 
                rules={nikRules} 
                placeholder="Masukan NIK"
              >
                NIK
              </TextField>
            </Col>
            <Col cols={12} md="2" sm="12">
              <Checkbox bind:group={captcha} color="#229BD8" value={captcha}>Captcha {captcha.length === 0 ? 'belum diceklis' : 'sudah diceklis'}</Checkbox>
            </Col>
            <Col cols={12} md="2" sm="12">
              <Button depressed disabled={captcha.length === 0 ? true : false} size="default" class="s-button font-weight-bold {captcha.length > 0 ? 'on' : 'off'}">Periksa</Button>
            </Col>
          </Row>
        </div>
        
        <div class="footer">
          Periksa Hasil Tes COVID-19 <a href="/" class="font-weight-bold ml-2 black-text">di sini</a>
        </div>
      </div>
    </div>
  </div>

  <!-- cari faskes -->
  <div class="search-faskes">
    <div class="title text-center">Temukan Fasilitas Kesehatan yang Melayani Vaksinasi COVID-19</div>
    <div class="form">
      <TextField 
        outlined
        dense
        color="#229BD8"
        placeholder="Cari Faskes (Contoh: nama Klinik/Puskesmas/Kecamatan)"
      >
        <div slot="append">
          <button 
            class="btn-cari"
            on:click={()=>alert('adadad')}
          >
            Cari
          </button>
        </div>
        Cari Faskes
      </TextField>
    </div>
  </div>

  <!-- tentang -->
  <div class="about-vaksin">
    <div class="d-flex flex-column justify-center align-center mb-4 align-md-start align-sm-center mb-sm-6">
      <div class="about__text-tentang-small">Tentang</div> 
      <div class="about__text-tentang-big">Vaksinasi Covid-19</div>
    </div>
    <div class="about__value">
      <div>
        Pada tahap awal, vaksinasi Covid-19 sudah berhasil diberikan kepada seluruh tenaga kesahatan, asisten tenaga kesehatan, dan mahasiswa yang menjalankan pendidikan profesi kedokteran yang bekerja pada fasilitas pelayanan kesehatan. <br><br>
      </div>

      <div>
        Vaksin tahap kedua juga sudah diberikan kepada lansia, pekerja sektor esensial, dan guru. <br><br>
      </div>

      <div>
        Pemerataan vaksinasi hingga saat ini dilanjutkan untuk masyarakat umum dan terus berjalan hingga berhasil menjangkau seluruh warga negara Indonesia dan warga negara asing yang bertempat tinggal di Indonesia. <br><br>
      </div>

      <div>
        Harapannya dengan upaya pemerataan vaksinasi ini, Indonesia dapat segera bangkit dan terbebas dari penyebaran virus Covid-19.
      </div>
    </div>
  </div>

  <!-- about pl -->
  <div class="about-pl">
    <div class="d-flex flex-column justify-center align-center mb-4 align-md-start align-sm-center mb-sm-6">
      <div class="about__text-tentang-small">Tentang</div> 
      <div class="about__text-tentang-big">Apa itu PeduliLindungi?</div>
    </div>
    <div class="about__value">
      <div>
        PeduliLindungi adalah aplikasi yang dikembangkan untuk membantu instansi pemerintah terkait dalam melakukan pelacakan untuk menghentikan penyebaran Coronavirus Disease (COVID-19). <br><br>
      </div>

      <div>
        Aplikasi ini mengandalkan partisipasi masyarakat untuk saling membagikan data lokasinya saat bepergian agar penelusuran riwayat kontak dengan penderita COVID-19 dapat dilakukan. <br><br>
      </div>

      <div>
        Pengguna aplikasi ini juga akan mendapatkan notifikasi jika berada di keramaian atau berada di zona merah, yaitu area atau kelurahan yang sudah terdata bahwa ada orang yang terinfeksi COVID-19 positif atau ada Pasien Dalam Pengawasan.
      </div>
    </div>
  </div>

  <!-- cara kerja -->
  <div class="how-work">
    <div class="how-work__text-small">Cara Kerja</div>
    <div class="how-work__grid">
      <div class="d-flex flex-column justify-center align-md-start align-sm-center mb-sm-6">
        <div class="how-work__video">
          <!-- svelte-ignore a11y-missing-attribute -->
          <iframe class="video" src="https://www.youtube.com/embed/2hmI15CajEM">
          </iframe>
        </div>
      </div>
      <div class="how-work__value">
        <div class="title">Bagaimana PeduliLindungi bekerja?</div>
        
        <div class="value">
          <div>
            Pada saat Anda mengunduh PeduliLindungi, sistem akan meminta persetujuan Anda untuk mengaktifkan data lokasi. Dengan kondisi lokasi aktif, maka secara berkala aplikasi akan melakukan identifikasi lokasi Anda serta memberikan informasi terkait keramaian dan zonasi penyebaran COVID-19.  <br><br>
          </div>
          
          <div>
            Hasil tracing ini akan memudahkan pemerintah untuk mengidentifikasi siapa saja yang perlu mendapat penanganan lebih lanjut agar penghentian penyebaran COVID-19 dapat dilakukan. Sehingga, semakin banyak partisipasi masyarakat yang menggunakan aplikasi ini, akan semakin membantu pemerintah dalam melakukan tracing dan tracking.  <br><br>
          </div>
          
          <div>
            PeduliLindungi sangat memperhatikan kerahasiaan pribadi Anda. Data Anda disimpan aman dalam format terenkripsi dan tidak akan dibagikan kepada orang lain. Data Anda hanya akan diakses bila Anda dalam risiko tertular COVID-19 dan perlu segera dihubungi oleh petugas kesehatan. <br><br>  
            Baca selengkapnya tentang Kebijakan Privasi & Persyaratan: <br><br>
          </div>
        </div>
  
        <button>Kebijakan privasi</button>
      </div>
    </div>
  </div>

  <!-- kita peduli -->
  <div class="we-care">
    <div class="title">Kami peduli dengan Anda</div>
    <div class="group-card">
      <div class="card">
        <div>
          <img src="https://www.pedulilindungi.id/assets/banner-wecare-1.jpg" alt="">
        </div>
        <div class="caption">
          <div class="caption-title">
            Membantu Pelacakan untuk Menghentikan Penyebaran COVID-19
          </div>
          <div class="caption-subtitle">
            Dengan mengaktifkan lokasi, Anda akan membantu instansi pemerintah terkait dalam melakukan pelacakan untuk menghentikan penyebaran Coronavirus Disease (COVID-19).
          </div>
        </div>
      </div>

      <div class="card">
        <div>
          <img src="https://www.pedulilindungi.id/assets/banner-wecare-2.jpg" alt="">
        </div>
        <div class="caption">
          <div class="caption-title">
            Informasi Zonasi dan Notifikasi Keramaian
          </div>
          <div class="caption-subtitle">
            Anda akan mendapatkan infomasi area zonasi persebaran COVID-19 (merah, kuning, hijau) sesuai dengan lokasi yang Anda pilih dan mendapatkan notifikasi jika Anda berada di keramaian.
          </div>
        </div>
      </div>

      <div class="card">
        <div>
          <img src="https://www.pedulilindungi.id/assets/banner-wecare-3.jpg" alt="">
        </div>
        <div class="caption">
          <div class="caption-title">
            Pemeriksaan Kesehatan
          </div>
          <div class="caption-subtitle">
            Jika Anda memerlukan bantuan tenaga kesehatan, Anda bisa menggunakan fitur Teledokter untuk melakukan pemeriksaan kesehatan mandiri dan berkonsultasi dengan tenaga kesehatan terkait kondisi kesehatan Anda.
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- unduh -->
  <div class="download-apps">
    <div class="title">
      Mari berpartisipasi melindungi sesama. Unduh PeduliLindungi sekarang!
    </div>
    <div class="icon">
      <div class="icon__store">
        <img src="https://www.pedulilindungi.id/assets/play-store.svg" alt="">
      </div>
      <div class="icon__store">
        <img src="https://www.pedulilindungi.id/assets/app-store.svg" alt="">
      </div>
      <div class="icon__store">
        <img src="https://www.pedulilindungi.id/assets/app-gallery-1.png" alt="">
      </div>
    </div>
  </div>

  <!-- footer -->
  <div class="footer">
    <div class="partner">
      <div class="logo-pl">
        <img 
          src="https://www.pedulilindungi.id/assets/logo-with-text.svg" 
          alt="logo-pl"
        />
      </div>
      <div class="logo-partner">
        <div class="text">Didukung oleh</div>
        <div class="logo">
          <img 
            src="https://www.pedulilindungi.id/assets/logo_kpcpen.png" 
            alt="" 
          />
          <img 
            src="https://www.pedulilindungi.id/assets/logo_kominfo.png" 
            alt="" 
          />
          <img 
            src="https://www.pedulilindungi.id/assets/logo_kemenkes.png" 
            alt="" 
          />
          <img 
            src="https://www.pedulilindungi.id/assets/logo_bumn.png" 
            alt="" 
          />
          <img 
            src="https://www.pedulilindungi.id/assets/logo_kemendagri.png" 
            alt="" 
          />
          <img 
            src="https://www.pedulilindungi.id/assets/logo_tni.png" 
            alt="" 
          />
          <img 
            src="https://www.pedulilindungi.id/assets/logo_polri.png" 
            alt="" 
          />
        </div>
      </div>
    </div>

    <Divider />

    <div class="copyright">
      <div class="copyright__text">
        © PeduliLindungi. All rights reserved.
      </div>
      <div class="copyright__address">
        KEMENTERIAN KOMUNIKASI DAN INFORMATIKA. Jalan Medan Merdeka Barat No.9, Jakarta Pusat, 10110
      </div>
    </div>

    <div class="sosmed">
      <div class="sosmed__group-md">
        <div class="text">
          PeduliLindungi.id
        </div>
        <div>
          <img src="https://www.pedulilindungi.id/assets/icon-instagram.svg" alt="">
        </div>
      </div>
      <div class="sosmed__group-md">
        <div class="text">
          PLindungi
        </div>
        <div>
          <img src="https://www.pedulilindungi.id/assets/icon-twitter.svg" alt="">
        </div>
      </div>
      <div class="sosmed__group-md">
        <div class="text">
          Peduli Lindungi
        </div>
        <div>
          <img src="https://www.pedulilindungi.id/assets/icon-youtube.svg" alt="">
        </div>
      </div>
      <div class="sosmed__group-md">
        <div class="text">
          pedulilindungi@kominfo.go.id
        </div>
        <div>
          <img src="https://www.pedulilindungi.id/assets/icon-email.svg" alt="">
        </div>
      </div>

      <div class="sosmed__group-sm">
        <div>
          <img src="https://www.pedulilindungi.id/assets/icon-instagram.svg" alt="">
        </div>
        <div class="text">
          PeduliLindungi.id
        </div>
      </div>
      <div class="sosmed__group-sm">
        <div>
          <img src="https://www.pedulilindungi.id/assets/icon-twitter.svg" alt="">
        </div>
        <div class="text">
          PLindungi
        </div>
      </div>
      <div class="sosmed__group-sm">
        <div>
          <img src="https://www.pedulilindungi.id/assets/icon-youtube.svg" alt="">
        </div>
        <div class="text">
          Peduli Lindungi
        </div>
      </div>
      <div class="sosmed__group-sm">
        <div>
          <img src="https://www.pedulilindungi.id/assets/icon-email.svg" alt="">
        </div>
        <div class="text">
          pedulilindungi@kominfo.go.id
        </div>
      </div>
    </div>

    <div class="copyright-small">
      <div class="copyright__text">
        © PeduliLindungi. All rights reserved.
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  @import '../styles/home';
</style>