<script>
    import { url, isActive } from "@roxi/routify";
</script>

<a href={$url('/index')} class:active={$isActive('/index')} style="height: 100%;">
  <img 
    style="height: 40px; width:100%;"
    src="https://www.pedulilindungi.id/assets/logo-with-text.svg" 
    alt="logo-pl"
  />
</a>