<script>
  import { url, isActive } from "@roxi/routify";
  import { Menu, List, ListItem, Button, Icon} from 'svelte-materialify';
  import { mdiMenu } from '@mdi/js';

  export let dispatchOpenDrawer;
</script>

<!-- show laptop 	960px > < 1264px -->
<div class="list-menu">
  <a href={$url('/index')} class:active={$isActive('/index')}>Beranda</a>
  <Menu hover>
    <div slot="activator" class="gray-text darken-3" style="cursor: pointer; margin: 10px 10px;">Cek Sertifikat</div>
    <List>
      <ListItem>
        <a href={$url('/periksa-sertifikat')} class:active={$isActive('/periksa-sertifikat')}> Cek Sertifikat </a></ListItem>
      <ListItem><a href={$url('/pengaduan')} class:active={$isActive('/pengaduan')}> Pengaduan </a></ListItem>
    </List>
  </Menu>
  <a href={$url('/tentang')} class:active={$isActive('/tentang')}>Tentang</a>
  <a href={$url('/unduh')} class:active={$isActive('/unduh')}>Unduh</a>
</div>

<!-- show phone - tablet -->
<div class="list-menu-sm">
  <Button icon class="blue-text" size="x-large"  on:click={dispatchOpenDrawer}>
    <Icon path={mdiMenu} size={35}/>
  </Button>
</div>

<style lang="scss">
  @import '../../../styles/headers/menu';
  @import 'svelte-materialify/src/styles/tools/colors';
</style>