<div class="sub-header white-text text-center">
  <span>Sudah melakukan vaksinasi COVID-19? Cek sertifikat Anda</span> <a href="/" class="link-sertifikat ml-2">di sini</a>
</div>

<style lang="scss">
  @import '../styles/subHeader';
  @import 'svelte-materialify/src/styles/tools/colors';
</style>