<script>
  // import { url, isActive } from "@roxi/routify";
  import { createEventDispatcher } from 'svelte';
  import Logo from "../../molecules/AppHeader/Logo.svelte";
  import Menu from "../../molecules/AppHeader/Menu.svelte";

  const dispatch = createEventDispatcher();

  const dispatchOpenDrawer = () => dispatch('openDrawer');

</script>

<div class="header">
  <Logo />
  <Menu dispatchOpenDrawer={dispatchOpenDrawer}/>
</div>

<style lang="scss">
  @import '../../../styles/headers/header';
  @import 'svelte-materialify/src/styles/tools/colors';
</style>