<script>
  import { Router } from "@roxi/routify";
  import { routes } from "../.routify/routes";
</script>
	<Router {routes} />
	<!-- <Button on:click={toggleTheme} class="test">Compiled (Default styles, used in the REPL)</Button> -->